<div class="foot text-white">
    <footer class='foot'>Made with ❤️ <a href="https://github.com/D3N2-a" class="underline-animation"
            data-replace="GitHub"><span>Anmol
                Sharma</span></a>
    </footer>
</div>
</body>

</html>