<%- include('partials/header.ejs') %>
    <h1>Compose a blog post</h1>
    <form action="/" method="post">
        <input type="text" name="composeContent" placeholder="Enter your Text">
        <button type="submit">Publish</button>
    </form>
    <%- include('partials/footer.ejs') %>