/* <----------------header-----------------------> */
html {
  font-family: "Montserrat", sans-serif;
}
.navB {
  background-color: #105652;
}
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.hText {
  font-family: "Bungee Shade", cursive;
}

/* <-------------footer---------------> */
/* a:link {
  text-decoration: none;
  color: #635666;
}

a:visited {
  text-decoration: none;
  color: #635666;
}
*/
.footlink:hover {
  text-decoration: none;
  color: #105652;
}
/*
a:active {
  text-decoration: none;
  color: #635666;
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: #aedbce;
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #839aa8;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
*/
.underline-animation {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.underline-animation::before,
.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.underline-animation::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.underline-animation::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #b91646;
}

.underline-animation:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.underline-animation:hover::after {
  transform: translate3d(0, 0, 0);
}

.underline-animation span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.underline-animation:hover span {
  transform: translate3d(-200%, 0, 0);
}
.footlink {
  text-decoration: none;
  color: black;
  font-weight: 700;
  vertical-align: top;
}
.foot {
  background-color: #dfd8ca;
  box-shadow: 0px 3px red, -1em 0 0.4em rgba(107, 102, 102, 0.575);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
